.navbar {
  background: #ff9800;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 25px;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}